---
import Layout from "../layouts/Layout.astro"
import App from "../components/App.svelte"
---

<Layout title="Chat with PDF">
  <div
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"
    >
    </div>
  </div>
  <main class="grid place-content-center min-h-screen w-screen">
    <h1 class="text-6xl opacity-70 font-bold text-center pb-10">
      Chat with your PDF
    </h1>
    <section class="container w-[1000px] max-w-xl max-h-[80vh]">
      <App client:idle />
    </section>
  </main>
</Layout>

<style></style>
